.home__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--primary-background-color);
  border: 1px solid var(--border-color);
}

.home__empty-text {
  margin-bottom: 20px;
}
