.table__ceil {
  border: 1px solid var(--border-color);
  width: 120px;
  max-width: 150px;
  min-height: 30px;
  max-height: 60px;
  font-size: 13px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  text-align: center;
}
