.sign-in__wrapper {
  width: 25vw;
  height: 20vw;
  padding: 30px;
  margin: 20vh auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-background-color);
  border: 1px solid var(--border-color);
}

.sign-in__promo-text {
  font-size: 20px;
}

.sign-in__register-block {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.sign-in__text-field {
  width: 25vw;
}

.sign-in__button {
  width: 25vw;
}
